<h1>Welcome#:top</h1>
<p>Find me in app/views/welcome/:top.html.erb</p>

<p><%= link_to "企業一覧へ",companies_path %></p>

<% if user_signed_in? %>
<p><%= link_to "ログアウト",destroy_user_session_path , method: :delete%></p>
  <% else %>
<p><%= link_to "新規登録",new_user_registration_path %></p>
<p><%= link_to "ログイン",new_user_session_path %></p>
<% end %>


